* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Progressive transition between 2 colors circular in shape this enables the colors to originate from the center of the circle*/
    background: radial-gradient(#ffc38c, #ff9b40); 
}